.movieGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}


.moviePoster:hover {
  transform: scale(1.1);
}

.moviePoster img {
  width: 100%;
  height: auto;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
}

.modal h2 {
  margin-top: 0;
}

.modal button {
  margin-top: 10px;
}
