.movieArrayItem {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 280px;
}

.movieArrayList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}
